* {
    margin: 0px;
    padding: 0px;
}

.div1 {

    position: relative;
}

.div1a {
    position: absolute;
    top: 42px;
    display: flex;
    width: 100%;
}

.div1aa {
    width: 40%;
    color: white;
    text-align: center;
}

.div1aa h1 {
    margin-top: -10px;
}

.navbar {
    width: 60%;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    margin-right: 40px;
    color: white;
}


.div2a {
    position: absolute;
    bottom: 460px;
    width: 50%;
    height: 50px;
    padding: 50px 70px;
    color: white;
}

.div2a p {
    font-size: 84px;
    position: absolute;
    top: -20px;
    padding: 50px;
}

.div2a h5 {
    font-size: 20px;
    position: absolute;
    top: 240px;
    width: 60%;
    text-align: initial;
    font-weight: lighter;
    padding: 8px 56px;
}

.navbar img {
    margin-left: 140px;
    margin-top: 40px;
}

.button1 {
    color: white;
    padding: 12px 20px;
    border-radius: 15px;
    border-color: red;
    margin-left: 160px;
    background-color: red;
    margin-top: 300px;
}

.button2 {
    color: white;
    padding: 12px 20px;
    border-radius: 15px;
    border-color: rgb(32, 59, 211);
    margin-left: 130px;
    background-color: rgb(0, 42, 255);
    margin-top: 80px;
}

.div2 {
    display: flex;
    height: 650px;
    width: 100%;
}

.div2aa {
    width: 60%;
}

.div2aa img {
    margin-left: 150px;
}

.div2ab {
    width: 40%;
    padding: 40px 108px;

}

.div2ab p {
    line-height: 35px;
    font-size: 20px;
    margin-top: 20px;
}
.div2ab span {
    color: blue;
}